---
layout: archive
---


<div class="home-container">
  <h2>About Me</h2>
  <p>
    I am expanding my expertise in artificial intelligence through the <strong>Master of Sciences in Applied Artificial Intelligence and IoT</strong> at FIU in Miami.

    My primary focus is on developing and refining machine learning and deep learning architectures to create intelligent systems for transforming human-computer interactions.

    My interests are committed to designing impactful solutions that drive significant breakthroughs in various fields.

  </p>

  <p>
    <a href="{{ site.baseurl }}/assets/files/CV_maria.pdf" class="btn btn--primary">📄 Resume</a>
  </p>

  <h3>📂 Check out my work:</h3>
  <ul>
    <li>🔬 <a href="{{ site.baseurl }}/projects">Projects</a></li>
    <li>📄 <a href="{{ site.baseurl }}/experience">My Experience</a></li>
    <li>🎤 <a href="{{ site.baseurl }}/conferences">Conferences & Talks</a></li>
  </ul>
</div>